html {
    background-image: url("background.webp");
    background-size: cover;
    background-repeat:no-repeat;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden; /* Changed to only hide horizontal overflow */
}

#app {
    background-color: rgba(255,255,255, 0.8);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 9%;
    left: 5%; /* Reduced for smaller screens */
    right: 5%; /* Reduced for smaller screens */
    bottom: 10%;
    overflow-y: auto; /* Allow vertical scrolling on overflow */
}



/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Reduced size for smaller screens */
    }
    #answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: normal;
        align-items: normal;
        gap: 0;
    }

    #answers button, #nextButton {
        flex: 90%;
        border: 1px solid rgba(25,25,25,0.8);
        box-sizing: border-box;
        text-align: center;
        padding: 4%;
        font-size: x-large;
    }

    #backToMain, #stopGame, .backToMain {
        padding: 0.3rem 0.6rem;
        font-size: 1rem; /* Reduced font size for smaller screens */
    }

    #gameContainer {
        padding: 10px;
        max-width: none; /* Allow the container to fit the screen width */
    }

    #sheetSelection, #difficultySelection, #gameArea, #highscores, #gameNavigation, #endOfGameDialog {
        margin-top: 10px;
        padding: 0;
        background-color: rgba(255,255,255, 0.9); /* Adjusted for better readability */
    }

    #gameNavigation {
        bottom: -100%; /* Adjusted for initial state off-screen */
    }

    #gameNavigation.active {
        bottom: 0; /* Adjust for active state to slide in */
    }

    button {
        font-size: 1.2rem; /* Reduced font size for smaller screens */
        padding: 8px 16px; /* Reduced padding for smaller screens */
    }

    #highscores {

    }

    #highscores h1 {
        font-size:1.5rem;
    }

    #timer {
        top: 7%;
    }

    #timer, #score {
        font-size: 1.5rem;
    }

    .emoji-fall {
        font-size: 2rem; /* Adjusted size for smaller screens */
    }

    label {
        padding: 2px;
        margin-left: 0;
        word-wrap: break-word;
        text-wrap: pretty;
        text-align: left;
        font-size: 1.0rem;
    }

    input[type=checkbox] {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    #endOfGameDialog {
        padding:15px;
    }
    #playerName {
        font-size: 1.5rem;
    }
}